@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Inter", sans-serif;
  --main-title-font-color: #fff;
  --secondary-font-color: #f3bf99;
  --main-text-font-color: #dcdcdc;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
  color: var(--main-title-font-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}

.card {
  width: 550px;
  height: 868px;
  background: #23252c;
  padding: 44px 117px;
}

.card__content {
  width: 317px;
  background: #1a1b21;
}

.card__img {
  border-radius: 10px 10px 0px 0px;
}

.card__name {
  text-align: center;
  margin: 21px 70px 6px;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 30px;
}

.card__job {
  font-size: 1.28rem;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
  margin-bottom: 8px;
}

.card__website {
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #f5f5f5;
  margin-bottom: 15px;
}

.card__btn {
  display: flex;
  padding: 0px 35px;
}

.btn {
  width: 115px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.btn--linkedi {
  background: #5093e2;
  border: none;
  color: #fff;
  margin-left: 17px;
}

.icon__btn {
  margin-right: 9.6px;
}

.Card__info {
  margin: 33px 36px;
}

.Info__Title {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 150%;
}

.Info__Description {
  width: 247px;
  height: 61px;
  font-size: 1.024rem;
  line-height: 150%;
  color: var(--main-text-font-color);
  margin-bottom: 27px;
}

.Card__Link {
  width: 317px;
  height: 64px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  padding: 0 73px;
  align-items: center;
}

.Card__Link img {
  margin-right: 24px;
}

.grid__container {
  background: #1c1c1c;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 49px;
}

.containerAir {
  background: #fff;
}
.navAir {
  background: #fff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  height: 70px;
  margin-bottom: 26px;
}

.Hero--Air {
  padding: 0px 77px;
  text-align:center;
}
.Hero__Title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  text-align: left;
  margin: 32px 0px 16px 36px;
}

.Hero__Description {
  width: 320px;
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
  margin-left: 32px;
  text-align: justify;
  margin-bottom: 49px;
}

.RateNumber {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
  margin-left: 18px;
}
.Rating {
  position: relative;
  margin-top: 9px;
}
.starticon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Locate {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #918e9b;
  margin-left: 2px;
}

.Description {
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  margin: 8px 0px;
}
.Price {
  font-family: "Poppins", sans-serif;
  color: #918e9b;
  font-size: 12px;
  line-height: 110%;
}
.PriceNumber {
  color: #222222;
}
.imgProduct {
  width: 176px;
  height: 235px;
}
.AirImg {
  position: relative;
}
.ProductSpec {
  top: 6px;
  left: 6px;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 110%;
  text-align: center;
  padding:5px;
  color: black;
  z-index: 1;
  width: 61px;
  height: 20px;
  background:white;
  vertical-align: middle;
  border-radius:3px;
  border:none;
}

.AirList{
  padding:0px 37px;
  display: flex;
}

.AirProduct{
  margin-right: 17px;
}

.Gallery{
  max-width: 395,91px;
  max-width:100%;
}